asgiref==3.2.10
boto3==1.0.0
certifi==2020.12.5
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1
django-bootstrap==0.2.4
django-crispy-forms==1.10.0
django-storages==1.11.1
gunicorn==20.0.4
idna==2.10
Pillow==7.2.0
psycopg2-binary==2.8.6
pygame==2.0.0.dev10
pytz==2020.1
requests==2.25.0
stripe==2.55.1
urllib3==1.26.2