* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.alt-text {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
}

.banner {
    display: flex;
    background-color:#1a3e4c;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.bar {
    margin-bottom: 10px;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

ul.messages {
    list-style-type: none;
    width: 75%;
    margin: auto;
    margin-top: 5px;
}

.menu-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.menu-background {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-self: start;
    overflow: hidden;
    z-index: 6;
    transition: width 300ms ease-out;
}

.grid {
    display: grid;
    gap: 1.5em;
}

.catalogue {
    width: 80%;
    margin: 0 auto;
}

.page-title {
    width: 100%;
    text-align: center;
    color: #555555;
}

.product {
    box-shadow: 0px 5px 12px #c2c2c2;
    position: relative;
    background-color: white;
}

.quick-add {
    font-size: large;
    color: #fff;
}

.thumbnail {
    aspect-ratio: 0.9;
}

.main-img {
    max-width: 500px;
    aspect-ratio: 4 / 3;
}

.product-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#current-img.product-img {
    border: 1px solid #f1f1f1;
}

.product-tag {
    font-size: 14px;
    background-color: #7fc1ff;
    color: white;
    position: absolute;
    right: 0;
    padding: 5px;
    z-index: 4;
}

.item {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.item:hover {
    color: #494949;
    text-decoration: none;
}

.nav-link {
    font-size: 26px;
    font-weight: 700px;
    border-top: 1px solid #f1f1f1;
    color: #707070;
    padding: 10px 25px;
    width: 100%;
}

.nav-link:hover {
    color: #707070;
    background-color: #fafafa;
}

.link-path {
    margin-left: 70px;
    justify-self: start;
    align-self: center;
}

.link-path a:hover {
    text-decoration: underline;
}

.dropdown-toggle {
    margin-bottom: 0;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.dropdown-option {
    padding-left: 50px;
    font-size: 20px;
    font-weight: 300;
}

.show-sidebar:hover {
    opacity: 80%;
}

.show-sidebar {
    font-size: 1.5em;
    cursor: pointer;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    color: #e3e3e3;
    padding: 0.15em 0.5em;
}

.hide-sidebar {
    font-size: 22px;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    background-color: #fff;
    color: #555555;
    padding: 5px 15px;
}

.hide-sidebar:hover {
    background-color: #f1f1f1;
}

.foot {
    background-color: #1a3e4c;
    color: #ffbf2a;
    font-size: 30px;
    width: 100%;
    padding: 1.5em;
    margin-top: 50px;
}

.contact {
    font-size: 14px;
}

.content {
    padding: 1.5em;
} 

.bottom-content {
    padding: 1em;
}

.my-category {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.list-item {
    color: black;
}

.list-item:hover {
    color: #555555;
}

.list {
    align-self: flex-start;
    margin-top: 20px;
}

.product-description {
    text-align: start;
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #c2c2c2;
}

.product-description p {
    color: #555555;
}

.greeting {
    color: #fff;
    margin: 0;
}

.product-info {
    padding: 0.5em;
}

.categories {
    text-align: left;
    margin-bottom: 10px;
    width: inherit;
} 

.category {
    background-color: #e4e4e4;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.category:hover {
    opacity: 80%;
    text-decoration: none;
}

.order-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border: 1px solid #f1f1f1;
    /* padding: 0.5em 2.5em; */
}

/* .order-summary div {
    padding: 1.5em;
} */

.cart-checkout {
    text-align: right;
    padding: 3em 0;
}

#cart tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.quantity {
    padding: 5px;
    text-align: center;
}

.update-qty {
    font-size: 30px;
    color: #0f9fff;
}

.update-qty:hover {
    color: #94d4ff;
    text-decoration: none;
}

.btn-sm {
    margin: 5px;
}

.form-field {
    max-width: 700px;
    background-color: #f5f5f5; 
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    padding: 1.5em; 
    padding-top: 2.5em;
    margin: auto;
}

.review-container {
    margin-top: 50px;
    padding: 20px;
}

.cart {
    position:relative;
    padding: 5px;
}

.user {
    font-weight: 700;
}

.date {
    float: right;
    font-weight: 200;
    color: #555555;
}

.item-qty {
    margin-top: 5px;
}

#shopping-cart-icon {
    padding: 2px;
}

#shopping-cart-icon:hover {
    opacity: 80%;
}

#cart-qty {
    color: white;
    background-color: red;
    font-size: 12px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    right: 0;
}

#checkout {
    width: 150px;
    border: 2px solid #ffa600;
    margin: 0.5em 0;
}


#logo {
    font-size: 30px;
    font-weight: 700;
    color:#ffbf2a;
    margin-left: 20px; 
    margin-right: auto;
}

#logo:hover {
    text-decoration: none;
}

#price {
    font-size: 18px;
    font-weight: 100;
    align-self: center;
    color: #555555;
    margin: 0;
}

#go-to-category {
    text-decoration: none;
}

#dropdown-menu {
    overflow: hidden;
    background-color: #fff;
    height: 0;
    transition: height 100ms linear 150ms;
}

#my-range {
    width: auto;
}

#review-form {
    margin-top: 30px;
}

#review-submit {
    margin-top: 10px;
}

.product-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.alt-image {
    object-fit: contain;
}

#active-img {
    opacity: 50%;
    transform: scale(0.9);
}

.alt-images {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .alt-images {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin-top: 30px;
        flex-direction: row;
    }
}

.alt-image:hover {
    opacity: 60%;
    cursor: pointer;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 50px;
}

@media (max-width: 700px){
    .catalogue {
        width: 100%;
    }

    .banner .btn {
        display: none;
    }

    .greeting {
        display: none;
    }

    .form-field {
        width: 100%;
    }
}
