{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--    configure stripe checkout   -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <div class="content">
        <div class="page-title">
            <h1>Shopping Cart</h1>
        </div>
        {% if order_items %}
            <div class="">
                {% for item in order_items %}
                    <div class="content order-summary align-center">
                        <div class="thumbnail">
                            <img src="{{ item.product.imageURL }}" class="product-img" alt="{{ item.product.imageURL }}">
                        </div>
                        <div>
                            <a class="item" href="{% url 'product-detail' item.product.pk %}"><h2>{{ item.product.name }}</h2></a>
                            <h5>${{ item.product.price }}</h5>
                        </div>
                        <div class="quantity">
                            <a class="update-qty" href="{% url 'add-to-cart' item.product.pk %}">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                            <h2 class="item-qty">{{ item.quantity }}</h2>
                            <a class="update-qty" href="{% url 'remove' item.product.pk %}">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-danger" href="{% url 'remove-item' item.product.pk %}">Remove</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cart-checkout">
                <h6 id="total">Total: ${{ total }}</h6>
                <button id="checkout" class="btn btn-warning">Checkout</button>
            </div>
        {% else %}
            <h3>Nothing in your cart right now!</h3>
        {% endif %}

        <a href="{% url 'home' %}">Continue shopping</a>
    </div>
{% endblock %}