{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content">

        <div class="form-field">
            <h1 class="page-title">Register</h1><hr>

            <form method="POST">
                {% csrf_token %}
                <table>    
                    {{ form|crispy }}
                </table>

                <input type="submit" class="btn btn-primary" value="Create Account">
            </form>
            <hr>
            <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
        </div>
    </div>
{% endblock %}