<div class="grid catalogue">          
    {% for product in products%}    
        <div class="product">
            <a  href="{% url 'product-detail' product.pk %}">
                <div class="thumbnail">
                    {% if product.featured %}
                        <h3 class="product-tag">Featured</h3>
                    {% endif %}
                    
                    <img class="product-img primary-img" src="{{ product.images.first.image.url }}">
                </div>
            </a>
            <div class="bottom-content">
                <div class="flex justify-space-between align-center mb-3">
                    <h4 class="alt-text">{{ product.name }}</h4> 
                    <h5 id="price" class="alt-text">${{ product.price }}</h5>
                </div>
                <a href="{% url 'add-to-cart' product.pk %}">
                    <div class="d-block">
                        <button class="btn btn-primary w-100" type="button">
                            <i class="fas fa-cart-plus quick-add"></i>
                        </button>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
